* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-x: hidden;
}


.titulo-princial {
    font-size: 32px;
    font-weight: 600;
    line-height: 47.4px;
    letter-spacing: 0.01em;
    text-align: left;
    text-decoration-skip-ink: none;
    position: relative;
    left: 230px;
    color: #11175E;
    
}

header {
    padding: 30px;
}

    .barras {
        display: grid;
        grid-auto-flow: column;
        gap: 10px; /* Remove espaçamento entre os elementos */
        align-items: center;
        position: relative;
        left: 70px;
    }

    .barra1{
        text-align: center;
        display: flex;
        justify-self: center;
        position: relative;
        left: 50px;
        padding: 16px 24px 16px 24px;
        gap: 10px;
        border-radius: 8px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        
    }   


    .barra1 input {
        text-indent: 3px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        width: 254.5px;
        height: 50px;
        font-size: 16px;
    }

    .barra2 {
        display: flex;
        position: relative;
        right: 70px;
        padding: 16px 24px 16px 24px;
        gap: 10px;
        border-radius: 8px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;

    }

    .barra2 input {
        text-indent: 3px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        width: 254.5px;
        height: 50px;
        font-size: 16px;

    }



.barra3 input{
    gap: 0px;
    border: 4px;
    opacity: 0px;
    text-align: center;
    justify-items: center;
    position: relative;
    right: 260px;
    background-color: #2D70FD;
    color: white;
    width: 45px;
    height: 45px;
    font-size: 18px;
}



main {
    position: relative;
    left: 280px;
    width: 586px;
    height: 325px;
    gap: 8px;
    opacity: 0px;
    }





.lista-tarefa {
    border: 2px solid #eeeeee;
    width: 606px;
    height: 103px;
    position: relative;
    right: 10px;
    list-style: none;
}

.lista-tarefa > ul {
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox para alinhar os itens */
    justify-content: center; /* Alinha verticalmente os itens */
    align-items: center; /* Alinha horizontalmente os itens */
}

.lista-tarefa > ul > li{
    display: flex; /* Flexbox para conteúdo interno do <li> */
    align-items: center; /* Centraliza o conteúdo do <li> verticalmente */
    justify-content: center; /* Centraliza o conteúdo do <li> horizontalmente */
    margin: 10px;
    position: relative;
    top: 3px;
    font-size: 18px;
    white-space: nowrap;
    left: 69px;
    color: #11175E;
    font-weight: bold;
}

.col-texs {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    top: 44px;
    text-align: left;
    font-size: 17px;

}



.status {
    position: relative;
    right: 290px;
    bottom: 5px;
    color: #B1BACB;
    border: 1px solid;
    border-radius: 49px;
    padding: 5px;
    font-weight: normal;
}

.data {
    position: relative;
    right: 280px;
    top: 3px;
    color: #B1BACB;
    font-weight: normal;
}


.button-conclui {
    position: relative;
    right: 100px;
}


.button-conclui input{
    width: 121px;
    height: 44px;
    position: relative;
    right: 60px;
    top: 16px;

    color: white;
    background-color: #2D70FD;
    font-weight: bold;
    border: none;
}


.lista-tarefa li.concluida {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

.button-conclui input:hover{
    background-color: #2d6ffdc5;
}

footer > div{
    text-align: end;
    position: relative;
    right: 20px;
    color: #B1BACB;
    font-size: 1.6em;
}

@media(max-width: 1200px){

    .titulo-princial {
        position: relative;
        left: 350px;
        font-size: 2em;
    }


    .barras {
        position: relative;
        left: 144px;
    }

    .barra2 {
        position: relative;
        right: 130px;
    }

    .barra3 {
        position: relative;
        right: 160px;
    }

    .barra3 input {
        height: 50px;
        width: 50px;
    }





    

}


@media(max-width: 500px) {

    
    html {
        overflow-x: hidden;
    }




    .titulo-princial {
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        left: 150px;
        font-size: 1.5em;
    }
    


    .barras {
        display: grid;
        grid-template-columns: 1fr; /* Cada item ocupa toda a largura */
        grid-auto-flow: row; /* Garante disposição em linhas */
        gap: 5px; /* Espaçamento entre os elementos */
        align-items: center;
        position: relative;
        left: 120px;
    }

    .barras > .barra1 > input {
        width: 370px;
        text-indent: 5px;
        position: relative;
        right: 50px;
    }

    .barras > .barra2 > input {
        width: 370px;
        text-indent: 5px;
        position: relative;
        left: 78px;
        bottom: 19px;
    }
    .barra3 {
        position: relative;
        left: 293px;
        bottom: 20px;
    }

    .barra3 input {
        width: 370px;
        font-size: 2em;
    }


    .lista-tarefa {
        position: relative;
        right: 99px;
        bottom: 20px;
        width: 370px;
        height: 230px;
    }

    .lista-tarefa > ul > li{
        display: flex; /* Flexbox para conteúdo interno do <li> */
        align-items: center; /* Centraliza o conteúdo do <li> verticalmente */
        justify-content: center; /* Centraliza o conteúdo do <li> horizontalmente */
        margin: 10px;
        position: relative;
        top: 3px;
        font-size: 1.1em;
        left: 140px;
        
    }


    .col-texs {
        display: grid;
        grid-template-columns: 1fr; /* Cada item ocupa toda a largura */
        grid-auto-flow: row; /* Garante disposição em linhas */
        position: relative;
        top: 64px;
        right: 27px;
        text-align: left;
        font-size: 17px;
    
    }
    
    
    
    .status {
        position: relative;
        right: 290px;
        bottom: 5px;
        color: #B1BACB;
        border: 1px solid;
        border-radius: 49px;
        padding: 5px;
        font-weight: normal;
    }
    
    .data {
        position: relative;
        right: 280px;
        top: 3px;
        color: #B1BACB;
        font-weight: normal;
    }
    
    
    .button-conclui {
        position: relative;
        right: 330px;
        top: 125px;
    }

    .button-conclui input {
        font-size: 1.2em;
    }
    footer > div {
        text-align: end;
        position: relative;
        left: 280px;
        bottom: 20px;
        
    }
}






@media(max-width: 300px) {
    .titulo-princial {
        width: 700px;
    }

    .barras > .barra2 > input {
        width: 370px;
        bottom: 20px;
        position: relative;
        left:  70px;
    }

    .barra3 input {
        position: relative;
        right: 270px;
    }

    main {
        padding-bottom: 290px;
    
    }
    

    footer {
        width: 500px;
    }

    footer div{
        position: relative; 
        right: 800px;
        font-size: 3em;
      }
}



